.problem-box {
  width: 45vw; /* 50% of the screen width */
  height: 88vh; /* Full screen height minus the navbar height (assuming navbar height is 4rem) */
  border: 1px solid rgb(99, 99, 99);
  background-color: #262626; /* Example background color */
  margin: 5px;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 15px;
}

nav{
  background-color: #2f3136;
  border-bottom: 1px solid rgb(99, 99, 99);
}
.editor {
  width: 51vw; /* 50% of the screen width */
  height: 88vh ; /* Same height as the problem box */
  border: 1px solid rgb(99, 99, 99);
  background-color: #262626; /* Example background color */
  margin: 5px;
  margin-right: 1rem;
  border-radius: 10px;
  padding: 15px;
}

h1{
  font-family: helvetica, Arial, sans-serif;
  font-size:x-large;
}

.langbutton{
  flex: auto;
  margin-right: 6rem;
  justify-items: end;
}

.langbutton{
  position: relative;
  z-index: 70;
}

.outputdiv{
  top:60px
}

.problemstat{
  font-size: 18px;
  font-family: Arial, sans-serif;
}

/* Global Styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.body-container {
  min-height: 100vh;
  width: 100%;
  background: #0b0b0a;
}

/* Container */
.container {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 50%;
  max-width: 430px;/* Ensures it doesn't stretch too much */
  min-width: 300px; /* Prevents it from becoming too small */
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Form Visibility */
.registration {
  display: none;
}

#check:checked ~ .registration {
  display: block;
}

#check:checked ~ .login {
  display: none;
}

#check {
  display: none;
}

/* Form */
.form {
  padding: 2rem;
}

.form-header {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0b0b0a;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family:  sans-serif;

}


.input-field {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.input-field:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Links */
.link {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Button */
.button {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.button:hover {
  background: #006653;
}


